/*background color*/

body {
  background-color: #121212;
}

.title {
  color: white;
}
.index {
  text-align: center;
}
.twotextinpfld {
  height: 2em;
  margin: 10px;
  background-color: #717171;
  color: #ffffff;
  border: black 1px solid;
  border-radius: 0.33em;
}

input[type="text"] {
  color: #ffffff;;
}
.textinpfld {
  height: 2em;
  margin: 10px;
  width: 33%;
  border: black 1px solid;
  border-radius: 0.33em;
  background-color: #717171;
  color: #ffffff;
}

::placeholder {
  padding: 10px;
  color: #ffffff;
}
.googlesignin {
  border-radius: 0.33em;
  border: black 1px solid;
  height: 2em;
  margin: 5px;
  background-color: rgb(66, 133, 244);
}

.facebookesignin {
  border-radius: 0.33em;
  border: black 1px solid;
  height: 2em;
  margin: 5px;
  background-color: rgb(66, 133, 244);
}
/*submit button Credit to "getcssscan.com" by Tailwind, the 15/10/2024 for "Button 40"*/
.submitbutton {
  background-color: #f6eebd;
  border: 1px solid transparent;
  border-radius: 0.75rem;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1rem;
  text-align: center;
  transition-duration: 0.1s;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.submitbutton:hover {
  background-color: #e4da69;
}

.submitbutton:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .submitbutton {
    padding: 0.75rem 1.5rem;
  }
}

.commentcreate {
  background-color: white;
  text-align: left;
  width: 33.3%;
  height: 100%;
}

textarea {
  resize: none;
  width: 25%;
}


div.content {
  text-align: center;
  margin-left: 30vw;
}
form.content {
  text-align: center;
  margin: auto;
}
form.paymentform {
  text-align: center;
  margin-left: 25vw;
}
label, h1, h3, p {
  color: white;
}
/*Child*/
.paymentchoicebutton:hover {
  background-color: #3f3f3f;
}
.paymentchoicebutton {
  list-style-type: none;
  background: none;
  display: flex;
  flex-direction: row;
}
button.paymentbuttonactive {
  border: #f6eebd 1px solid;
}
/*Parent*/
div.paymentform {
  margin-left: 25vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.paymentform img {
  width: 5vw;
  height: 5vw;
}



/* This site uses code from the project "smooth-frog-53" made by JkHuger (https://uiverse.io/JkHuger/smooth-frog-53), licensed under the MIT License*/
/* Slider*/
/* From Uiverse.io by JkHuger */ 
.sliderbutton {
  margin-left: 45.5%;
}
input.toggle-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.toggle-slot {
  font-size: 10px;
  position: relative;
  height: 3.5em;
  width: 7em;
  border: 0px solid transparent;
  border-radius: 10em;
  background-color: white;
  transition: background-color 250ms;
}

.toggle-checkbox:checked ~ .toggle-slot {
  background-color: #374151;
}

.toggle-button {
  transform: translate(0.3em, 0.25em);
  position: absolute;
  height: 3em;
  width: 3em;
  border-radius: 50%;
  background-color: #ffeccf;
  box-shadow: inset 0px 0px 0px 0.75em #ffbb52;
  transition: background-color 250ms, border-color 250ms, transform 500ms cubic-bezier(.26,2,.46,.71);
}

.toggle-checkbox:checked ~ .toggle-slot .toggle-button {
  background-color: #485367;
  box-shadow: inset 0px 0px 0px 0.75em white;
  transform: translate(3.65em, 0.25em);
}

.sun-icon {
  position: absolute;
  height: 6em;
  width: 6em;
  color: #ffbb52;
}

.sun-icon-wrapper {
  position: absolute;
  height: 6em;
  width: 6em;
  opacity: 1;
  transform: translate(2em, 2em) rotate(15deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(.26,2,.46,.71);
}

.toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper {
  opacity: 0;
  transform: translate(3em, 2em) rotate(0deg);
}

.moon-icon {
  position: absolute;
  height: 6em;
  width: 6em;
  color: white;
}

.moon-icon-wrapper {
  position: absolute;
  height: 6em;
  width: 6em;
  opacity: 0;
  transform: translate(11em, 2em) rotate(0deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(.26,2.5,.46,.71);
}

.toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
  opacity: 1;
  transform: translate(2em, 2em) rotate(-15deg);
}


/*content "navbar"*/

div.contentnavbar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  list-style-type: none;
  margin-left: 40%;
  padding: 0;
  width:fit-content;
}

div.contentnavbar>li>a {
  color: white;
  display: flex;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2vw;
  padding-left: 5vw;
  padding-right: 5vw;
  border-radius: 1vw;
}
div.contentnavbar>li>a:hover {
  background-color: #3f3f3f;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

/*Result navbar*/

div.contentresultnavbar {
  margin-left: 25vw;
  display: flex;
}
div.contentresultnavbar>button {
  background-color: #3f3f3f;
  color: white;
  border: none;
  border-radius: 1vw;
  padding: 1vw;
  margin-left: 1vw;
  font-family: Arial, Helvetica, sans-serif;

}
div.contentresultnavbar>button:hover {
  background-color: #575757;
  color: white;
  border: none;
  border-radius: 1vw;
  padding: 1vw;
  margin-left: 1vw;
  font-family: Arial, Helvetica, sans-serif;
}
div.contentresultnavbar>h3 {
  margin: 0% 1vw 0% 1vw;
  font-family: Arial, Helvetica, sans-serif;
  
}

/*Posts*/

div.postgrid {
  margin-left: 25vw;
  /*display: flex;
  flex-direction: column;*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
div.postgriditem {
  margin-bottom: 1vw;
  text-align: left;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}